/*
Author: Josue Villegas

*/

:root {
	--darkGreyBG : #343434;
	--lightGreyBG : #6c6c6c;
	--lightBlueST : #a5cbff;
	--lightPinkMT : #fca5ff;
}

#mobileBanner{
  display: none;
}

.banner{
	width: 100%;
	text-align: center;
}

.bannerWrapper {
  width: 100%;
  text-align: center;
}

.socialLinks {
  width: 85%;
  float:left;
}

.bio{
	position: relative;
	text-align: left;
	color: var(--lightBlueST);
}

.socialBtn {
    border: .25em solid var(--lightBlueST);
	border-radius: 3em;
	width: 50%;
	margin: 3px;
	color: var(--lightPinkMT);
	background-color: transparent;
	vertical-align: middle;
}

.bg {
	background-color: var(--darkGreyBG);
	font-family: "Comfortaa";
	color: var(--lightPinkMT);
}

.buttonDisplay{
	width: 100%;
	height: 90%;
	border: 1em solid var(--lightGreyBG);
	border-radius: 3em;
	text-align: center;
	position: relative;
	display: inline-block;
}

.header{
	width: 29%;
	margin-left: 1em;
	margin-right: 1em;
	float: left;
	border: .25em solid var(--lightBlueST);
	border-radius: 3em;
	vertical-align: middle;
}

.category{
	width: 33.33%;
	float: left;
	vertical-align: middle;
}

.headerButton{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	color: var(--lightPinkMT);
}

.galleryView{
	display: none;
}

.headerRow{
	height: 8%;
	float: top;
	margin-top: 1em;
	margin-bottom: 1em;
}

.mainReel{
	width: 75%;
	height: 80%;
	vertical-align: top;
	text-align: center;
	margin-right: 1em;
	margin-left: 0px;
	float: right;
}

.profile{
	vertical-align: top;
	text-align: center;
	border: 1em solid var(--lightGreyBG);
	border-radius: 3em;
	width: 20%;
	height: 80%;
	margin: 1em;
	float: left;
	color: var--(lightPinkMT);
	margin-right: 0px;
	position: relative;
}

.aboutImg {
	width: 100%;
	min-height: 200px;
	vertical-align: center;
}

.aboutImg > img {
	width: 100%;
	margin-top: 50%;
}

.bottomAlign{
	vertical-align: center;
	text-align: center;
}


.categoryButton{
	width: 100%;
	background-color: transparent;
	border: 0px;
	vertical-align: middle;
}

.hoverDX{
	width: 30%;
	background-color: transparent;
	border: 0px;
}

.hoverComm{
	width: 30%;
	background-color: transparent;
	border: 0px;
}

/* styling for category button image */
.categoryImage{
	width: 100%;
	margin: auto;
	background-color: transparent;
	border: 0px;
	vertical-align: middle;
}

.categoryImageMobile{
	display: none;
}

.waifuListings {
	display: none;
}

.listing {
	display: block;
}

.hoverContainer {padding-top: .5em; padding-bottom: .5em;}

.hoverContainer:hover .waifuListings {display:block;}

@media only screen and (max-width: 1200px) {
	.bg {
	  background-color: var(--darkGreyBG);
	  font-family: "Comfortaa";
	  color: var(--lightPinkMT);
	  font-size: 9pt 
  }
}

/* styling for medium portrait devices */
@media only screen and (max-width: 992px) {
  #desktopBanner{
    display: none;
  }
  
  #mobileBanner {
    display: inline;
  }
  
 .burgerMenuContainer {
   cursor: pointer;
   width: 47px;
   float: right;
 }
 
 .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: var(--lightBlueST);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: var(--lightBlueST);
}
 
 
.bar1, .bar2, .bar3 {
  height: 5px;
  width: 35px;
  background-color: var(--lightPinkMT);
  margin: 6px;
  margin-right: 0;
  transition: 0.4s;
}
  
  .socialBtn {
    border: .25em solid var(--lightPinkMT);
  	border-radius: 3em;
  	width: 20%;
  	margin: 3px;
  	color: var(--lightBlueST);
  	background-color: transparent;
  }
  
  .bg {
	  background-color: var(--darkGreyBG);
	  font-family: "Comfortaa";
	  color: var(--lightPinkMT);
	  font-size: 9pt;
  }
  
	.headerRow{
		height: 5%;
		float: top;
		margin-top: 1em;
		width: 100%;
	}
  
	.buttonDisplay{
		width: 100%;
		height: 90%;
		border: 1em solid var(--lightGreyBG);
		border-radius: 3em;
		text-align: center;
		position: relative;
		display: inline-block;
		margin-top: 1em;
	}

	.headerButton{
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		color: var(--lightPinkMT);
	}

	.profileMenu{
		overflow: hidden;
		background-color: #333;
		position: relative;
	}

	.banner{
		width: 90%;
	}

	#myLinks {
		display: none;
	}

	.profileBurger {
		color: white;
		text-decoration: none;
	}

	.profileMenuImg {
		width: 10%;
		float: right;
	}


	.active {
		background-color: #4CAF50;
		color: white;
	}

	.profileMenu  a.icon {
		width: 10%;
		background: var(--lightGreyBG);
		display: inline-block;
	}
	
	.profile{
		display: none;
	}
	
	.mainReel{
		width: 100%;
		height: 80%;
		vertical-align: top;
		text-align: center;
		margin: auto;
	}
	
	.categoryImage{
		display: none;
	}
	
	.categoryImageMobile{
		width: 90%;
		margin: auto;
		background-color: transparent;
		border: 0px;
		vertical-align: middle;
		display: initial;
	}
}

@media only screen and (max-width: 768px){
	.bg {
	  background-color: var(--darkGreyBG);
	  font-family: "Comfortaa";
	  color: var(--lightPinkMT);
	  font-size: 6pt 
  }
}
