/*
Author: Josue Villegas

*/

:root {
	--darkGreyBG : #343434;
	--lightGreyBG : #6c6c6c;
	--lightBlueST : #a5cbff;
	--lightPinkMT : #fca5ff;
}

#mobileBanner{
  display: none;

}

.banner{
	width: 100%;
}

.bannerWrapper {
  width:100%;
}

.bio{
	position: relative;
	text-align: left;
	color: var(--lightBlueST);
}

.socialBtn {
    border: .25em solid var(--lightBlueST);
	border-radius: 3em;
	width: 50%;
	margin: 3px;
	color: var(--lightPinkMT);
	background-color: transparent;
}

.bg {
	background-color: var(--darkGreyBG);
	font-family: "Comfortaa";
	color: var(--lightPinkMT);
}

.buttonDisplay{
	width: 100%;
	height: 90%;
	border: 1em solid var(--lightGreyBG);
	border-radius: 3em;
	text-align: center;
	position: relative;
	display: inline-block;
	float: center;
}

.category{
	width: 29%;
	margin-left: 1em;
	margin-right: 1em;
	float: left;
	border: .25em solid var(--lightBlueST);
	border-radius: 3em;
}

.categoryButton{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	color: var(--lightPinkMT);
}

.galleryView{
	display: none;
	position: absolute;
	z-index: 1;
}

.headerRow{
	height: 10%;
	float: top;
	margin-top: 1em;
}

@media only screen and (max-width: 600px) {
	.headerRow{
		height: 10%;
		float: top;
		margin-top: 1em;
		width: 100%;
	}
  
	.buttonDisplay{
		width: 100%;
		height: 90%;
		border: 1em solid var(--lightGreyBG);
		border-radius: 3em;
		text-align: center;
		position: relative;
		display: inline-block;
		float: center;
		margin-top: 1em;
	}

	.categoryButton{
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		color: var(--lightPinkMT);
	}

	.profileMenu{
		overflow: hidden;
		background-color: #333;
		position: relative;
	}

	.banner{
		width: 90%;
	}

	.profileMenu #myLinks {
		display: none;
	}

	.profileBurger {
		color: white;
		text-decoration: none;
	}

	.profileMenuImg {
		width: 10%;
		float: right;
	}


	.active {
		background-color: #4CAF50;
		color: white;
	}

	.profileMenu  a.icon {
		width: 10%;
		background: var(--lightGreyBG);
		display: block;
	}
	
	.profile{
		display: none;
	}
	
	.mainReel{
		width: 100%;
		height: 80%;
		vertical-align: top;
		text-align: center;
		margin: auto;
		margin: auto;
	}
}


.profile{
	vertical-align: top;
	text-align: center;
	border: 1em solid var(--lightGreyBG);
	border-radius: 3em;
	width: 20%;
	height: 80%;
	margin: 1em;
	float: left;
	color: var--(lightPinkMT);
	margin-right: 0px;
	position: relative;
}

.mainReel{
	width: 75%;
	height: 80%;
	vertical-align: top;
	text-align: center;
	margin-right: 1em;
	margin-left: 0px;
	float: right;
}


.aboutImg {
	width: 100%;
	min-height: 200px;
	vertical-align: center;
}

.aboutImg > img {
	width: 100%;
	margin-top: 50%;
}

.bottomAlign{
	vertical-align: center;
	text-align: center;
}


.hoverWaifu{
	width: 30%;
	background-color: transparent;
	border: 0px;
}

.hoverDX{
	width: 30%;
	background-color: transparent;
	border: 0px;
}

.hoverComm{
	width: 30%;
	background-color: transparent;
	border: 0px;
}

.galleryBtns {
	width: 100%;
}

.waifuListings {
	display: none;
	position: absolute;
	z-index: 1;
}

.waifuListings a {
	display: block;
}

.hoverWaifu:hover .waifuListings {display:block;}